body {
  background-color: aqua;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
header {
  background-color: yellow;
}
li {
  text-decoration: none;
}
.flex-container {
  display: flex;
}
.flex-item {
  margin: 1rem 0;
  padding: 0.5rem;

  border: 1px solid black;
  text-decoration: none;
}
.flex-item a {
  text-decoration: none;
}
.list-items {
  background-color: lightgrey;
  text-decoration: none;
  list-style: none;
}
